.cbalink {display: none;}
.tablet {
	position: relative;
	width: 100%;
}
.wrapper__cube {
	margin: 50px auto 0;
	width: 500px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: olivedrab;
	border: 10px solid #000;
	border-radius: 40px;
}
.wrapper__cube_down {
	display: flex;
	justify-content: space-around;
	width: 100%;
	order: 2;
}
.frame__cube {
	width: 100px;
	height: 100px;
	margin: 30px 40px;
}
.cube {
	width: 100px;
	height: 100px;
	position: relative;
	transform-style: preserve-3d;
	transition: 1.5s linear;
}


.size {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0 -50px;
	left: 50%;
	opacity: 1;
	border: 1px solid rgba(255,255,255, .7);
	border-radius: 8px;
	background: #000;
	display: flex;
	justify-content: space-between;
}
.size1 {
	transform: translateZ(50px);
}
.size2 {
	transform: translateY(50px) rotateX(-90deg);
}
.size3 {
	transform: translateX(50px) rotateY(-90deg);
}
.size4 {
	transform: translateX(-50px) rotateY(90deg);
}
.size5 {
	transform: translateY(-50px) rotateX(90deg);
}
.size6 {
	transform: translateZ(-50px);
}
.size__bone {
	width: 30px;
	font-size: 22px;
	text-align: center;
	color: #fff;
}
.size1__bone_1 {
	color: red;
}
.size1__bone_1, .size3__bone_2, .size5__bone_3, .point_c {
	margin: 0 auto;
	align-self: center;
}

.size2__bone_2, .size3__bone_3, .point_b {
	align-self: flex-end;
}
.wrapper, .radio__lable_4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.point_w {
	display: flex;
	justify-content: space-around;
}
.random {
	display: flex;
	justify-content: center;
}
.random__button {
	width: 50px;
	height: 200px;
	margin: 0 0 20px 0;
	border: 3px solid #000;
	border-radius: 10px;
	font-weight: bold;
	background: darkred;
	transition: .7s;
	color: #000;
	font-size: 20px;
	word-wrap: break-word;
}
.random__button:focus {
	outline: none;
}
.random__button:hover {
	background: #000;
	border: 3px solid darkred;
	color: red;
}
.radio {
	display: flex;
	justify-content: space-around;
	flex-direction: column-reverse;
	align-items: center;
	width: 80px;
	height: 240px;
	margin: 0 auto;
	padding: 20px;
}
.radio__lable {
	width: 25px;
	height: 25px;
	background: #000;
	border: 2px solid #000;
	border-radius: 4px;
	color: #fff;
	font-size: 7px;
	display: flex;
	justify-content: space-around;
	transition: border .3s;
}
.radio__lable div {
	margin: 0;
	padding: 0;
}
.radio input {
	display: none;
}
.radio input[type=radio]:checked + label {border: 2px solid darkred;}
.menu {
	background: saddlebrown;
	width: 100px
	height: 400px;
	margin: 0 auto;
	border: 10px solid #000;
	border-right: none;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50px 0 0 50px;
}
.point span {
	font-size: 28px;
	color: red;
}
.menu__checkbox input {
	display: none;
}