.cube
	- for (var x = 1; x <= 6; x++)
		.side
			if (x == 1)
				.row__bone
					.side__bone
			if (x == 2)
				.row__bone
					.side__bone
				.row__bone
					.side__bone
			if (x == 3)
				.row__bone
					.side__bone
				.row__bone
					.side__bone
				.row__bone
					.side__bone
			if (x == 4)
				.row__bone
					.side__bone
					.side__bone
				.row__bone
					.side__bone
					.side__bone
			if (x == 5)
				.row__bone
					.side__bone
					.side__bone
				.row__bone
					.side__bone
				.row__bone
					.side__bone
					.side__bone
			if (x == 6)
				.row__bone
					.side__bone
					.side__bone
				.row__bone
					.side__bone
					.side__bone
				.row__bone
					.side__bone
					.side__bone
